.container{
    height: 100%;
    width: 100%;
}
.container-wrapper{
    padding: 8px;
    display: flex;
}

.sidebar{
    width: 150px;
    height: 100vh;
    overflow-y: scroll;
}
.wrapper{
    width: calc(100% - 155px);
    height: 100%;
}