body{
    background-color: #f0f1fa;
}
.container{
    height: 100%;
    width: 100%;
}
.container-wrapper{
    padding: 8px;
    display: flex;
}

.sidebar{
    width: 150px;
    height: 100vh;
    background-color: #fff;
    border-radius: 6px
}
.wrapper{
    width: calc(100% - 165px);
    height: 100%;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 6px;
    padding: 8px
}
.wrapper .headerName{
    border-bottom: 1px solid #7c7878ad
}