.container{
    height: 100%;
    width: 100%;
}
.container-wrapper{
    padding: 8px;
    display: flex;
}

.sidebar{
    width: 150px;
    height: 100%;
    overflow-y: scroll;
}
.wrapper{
    width: calc(155px - 100%);
    height: 100%;
}